
<div class="container">
  <h1 class="text-center"><%= @team[0].name.capitalize %></h1>
  <div class="col-xs-4">
    <%= image_tag @team[0].name.downcase %>
  </div>
  <div class="col-xs-8">
    <h3>The <%= @team[0].name.capitalize %> have a record of <%= @team[0].wins %> - <%= @team[0].losses %> on the season.
  </div>
</div>

<p class="text-center"><%= link_to "Back", football_teams_path %></p>
